.tagline,
.tagline-skill {
    height: 80px;
}
.tagline {
    font-family: "Fira Mono", monospace;
    overflow: hidden;
    background-color: #2a2a28;
    color: #fff;
}
.tagline-skill {
    position: relative;
    font-size: 1.5em;
    padding-top: .75em;
    -webkit-animation: animatetotop 6s steps(3) infinite;
    animation: animatetotop 6s steps(3) infinite;
}
.tagline-skill_inner,
.tagline-skill-overlay {
    display: inline-block;
}
.tagline-skill_inner {
    position: relative;
    line-height: 1;
}
.tagline-skill_inner:after {
    content: "";
    position: absolute;
    top: -1px;
    right: 0;
    bottom: -2px;
    left: 0;
    border-left: 1px solid #fff;
    background-color: #2a2a28;
    -webkit-animation: animatetoright 1s steps(10) infinite alternate;
    animation: animatetoright 1s steps(10) infinite alternate;
}
@-webkit-keyframes animatetoright {
    0% {
        left: 0;
        margin-right: auto;
    }
    100% {
        left: 100%;
        margin-left: .6em;
        margin-right: -.6em;
    }
}
@keyframes animatetoright {
    0% {
        left: 0;
        margin-right: auto;
    }
    100% {
        left: 100%;
        margin-left: .6em;
        margin-right: -.6em;
    }
}
@-webkit-keyframes animatetotop {
    0% {
        top: 0;
    }
    100% {
        top: -240px;
    }
}
@keyframes animatetotop {
    0% {
        top: 0;
    }
    100% {
        top: -240px;
    }
}
/* general layout */

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    font-size: 16px;
}
html,
body {
    height: 100%;
    background: background;
}
body {
    font: 100%/1.5 sans-serif;
    min-height: 100%;
    box-sizing: border-box;
}
header {
    text-align: center;
    padding: 1em;
}
header h1,
.tagline,
.tagline-skill {
    width: 192px;
    display: block;
    font-weight: 400;
}
header h1 {
    font-family: "Fira Sans", sans-serif;
    font-size: 1.75em;
    height: 112px;
    padding: .5em;
    background-color: #f2de03;
}